flytekit
apache-airflow[google]==2.7.3
apache-airflow-providers-google<12.0.0
pre-commit
matplotlib
tenacity<=8.3.0
tensorflow
tensorboardX
tensorflow_datasets
numpy<2.0.0
pandera>=0.7.1,<=0.19.3
protobuf<5.0.0
torch
torchvision
flytekitplugins-spark
flytekitplugins-kftensorflow
flytekitplugins-kfpytorch
flytekitplugins-ray
flytekitplugins-bigquery
flytekitplugins-airflow
flytekitplugins-mlflow
flytekitplugins-pandera
flytekitplugins-openai
flytekitplugins-envd
google-cloud-bigquery-storage
google-cloud-bigquery
envd==0.3.45
union
./noop_agent